/* global */

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #1f2939;
  background-color: #ffffff;
}

.container {
  max-width: 1564px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.header__inner {
  padding-top: 32px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav a:not(:last-child) {
  margin-right: 60px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: #f5f5ff;
  border-radius: 50%;
  transition: all linear 0.3s;
}

.header__logo:focus {
  outline: 1px solid #5243c2;
}

.header__logo:active {
  outline: transparent;
  transform: translate(2px);
}

.header__logo:hover {
  background-color: #e8e8f4;
}

.header__link {
  position: relative;
}

.header__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #5243c2;
  top: 27px;
  left: 0;
  opacity: 0;
  transition: opacity linear 0.3s;
}

.header__link:focus::after {
  opacity: 1;
}

.header__link:active {
  color: #5243c2;
}

.header__link:hover::after {
  opacity: 1;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__menu a:not(:last-child) {
  margin-right: 60px;
}

.header__call-us-btn {
  padding: 6px 12px;
  border-radius: 20px;  
}

.header__call-me-btn {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 20px;
}

.btn,
.header__call-me-svg path {
  transition: all linear 0.2s;
}

.btn:focus {
  outline: 1px solid #ff4d4f;
}

.btn:active {
  outline: transparent;
  transform: translate(2px);
}

.btn:hover {
  outline: transparent;
  color: #ff4d4f;
  background-color: #ffeded;
}

.btn:hover .header__call-me-svg path {
  fill: #ff4d4f;
}

.header__call-me-svg {
  margin-right: 3px;
}

.profile {
  position: relative;
}

.profile__svg {
  position: absolute;
  right: 0;
  bottom: -4px;
}

/* drop menu */

.header__drop-menu {
  display: none;
  max-width: 210px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 110px;
  right: 5px;
  z-index: 10;
  animation: hide 1s;
}

.header__drop-menu.active {
  display: block;
  animation: showup 1s;
}

@keyframes showup {
  from { display: none; opacity: 0}
  to { display: block; opacity: 1;}
}

@keyframes hide {
  from { display: block; opacity: 1}
  to { display: none; opacity: 0;}
}

.header__drop-menu:before,
.header__drop-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
}

.header__drop-menu:before {
  border-color: transparent transparent rgba(0, 0, 0, 0.04) transparent;
  border-width: 0 10px 16px 10px;
  right: 15px;
  top: -16px;
}

.header__drop-menu:after {
  border-color: transparent transparent #ffffff transparent;
  border-width: 0 8px 14px 8px;
  right: 17px;
  top: -13px;
}

.drop-menu__profile-holder {
  padding: 16px;
  position: relative;
}

.drop-menu__profile-holder {
  font-size: 22px;
}

.drop-menu__profile-holder::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 15px;
  right: 15px;
  bottom: 0;
  background-color: #f0f7fa;
}

.drop-menu__list {
  padding: 16px;
}

.drop-menu__link {
  display: block;
  padding: 8px;
}

.drop-menu__link:hover {
  color: #ff4d4f;
}

/* mobile menu nav */

.mobile-menu {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__list {
  display: block;
}

.mobile-menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: all linear 0.3s;
}

.mobile-menu__logo:focus {
  outline: 1px solid #5243c2;
}

.mobile-menu__logo:active {
  outline: transparent;
  transform: translate(2px);
}

.mobile-menu__logo:hover {
  background-color: #f5f5ff;
}

.mobile-menu__phone {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 20px;
  transition: all linear 0.2s;
}

.mobile-menu__phone svg {
  transition: all linear 0.2s;
}

.mobile-menu__phone:focus {
  outline: 1px solid #ff4d4f;
}

.mobile-menu__phone:active {
  outline: transparent;
  transform: translate(2px);
}

.mobile-menu__phone:hover {
  outline: transparent;
  color: #ff4d4f;
  background-color: #ffeded;
}

.mobile-menu__phone:hover svg path {
  fill: #ff4d4f;
}

.mobile-menu__burger-btn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu__burger-btn.active .mobile-menu__burger-span::before {
  width: 15px;
  top: 0;
  left: 2px;
  transform: rotate(45deg);
}

.mobile-menu__burger-btn.active .mobile-menu__burger-span {
  background-color: transparent;
}

.mobile-menu__burger-btn.active .mobile-menu__burger-span::after {
  width: 15px;
  top: -1px;
  transform: rotate(-45deg);
}

.mobile-menu__burger-span {
  position: relative;
  display: block;
  width: 17px;
  height: 1px;
  background-color: #5243C2;
  transition: background-color 0.3s;
}

.mobile-menu__burger-span::before,
.mobile-menu__burger-span::after {
  content: '';
  display: block;
  position: relative;
  width: 11px;
  height: 1px;
  background-color: #5243C2;
  transition: all 0.5s;
}

.mobile-menu__burger-span::before {
  top: -5px;
  right: -3px;
}

.mobile-menu__burger-span::after {
  top: 4px;
  left: 2px;
}

/* mobile drop menu */

.mobile-drop-menu__list {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  right: 15px;
  top: 90px;
  width: 200px;
  height: 400px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
  z-index: 15;
  animation: hidemenu 1s;
}

.mobile-drop-menu__list.active {
  display: flex;
  animation: showmenu 1s;
}

@keyframes showmenu {
  from { display: none; opacity: 0}
  to { display: flex; opacity: 1;}
}

@keyframes hidemenu {
  from { display: flex; opacity: 1}
  to { display: none; opacity: 0;}
}

.mobile-drop-menu__list:before,
.mobile-drop-menu__list:after {
  content: '';
  position: absolute;
  border-style: solid;
}

.mobile-drop-menu__list:before {
  border-color: transparent transparent rgba(0, 0, 0, 0.04) transparent;
  border-width: 0 10px 16px 10px;
  right: 15px;
  top: -16px;
}

.mobile-drop-menu__list:after {
  border-color: transparent transparent #ffffff transparent;
  border-width: 0 8px 14px 8px;
  right: 17px;
  top: -13px;
}

.mobile-drop-menu__link {
  position: relative;
  display: block;
  padding: 30px 0;
}

.mobile-drop-menu__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #5243c2;
  bottom: 10px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity linear 0.3s;
}

.mobile-drop-menu__link:focus::after {
  opacity: 1;
}

.mobile-drop-menu__link:active {
  color: #5243c2;
}

.mobile-drop-menu__link:hover::after {
  opacity: 1;
}

.mobile-drop-menu__profile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}

.profile__name{
  padding-top: 20px;
}

.profile__emoji {
  position: relative;
}

.profile__svg {
  position: relative;
  top: -6px;
  right: -8px;
}

/* hero section */

.hero {
  height: calc(100vh - 208px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero__title {
  font-size: 72px;
  font-weight: 700;
  max-width: 240px;
  width: 100%;
}

.hero__content {
  position: relative;
}

.hero__content::before {
  position: absolute;
  content: '';
  background-image: url('../images/emojis/emoji-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  top: 44%;
  left: 15%;
  width: 50px;
  height: 50px;
}

.hero__content::after {
  position: absolute;
  content: '';
  background-image: url('../images/emojis/emoji-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  left: 10%;
  bottom: 5%;
  width: 110px;
  height: 110px;
}

.hero__make-burger-btn {
  position: absolute;
  left: -100px;
  bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  color: #ffffff; 
  background-color: #5243c2;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transition: all linear 0.2s;
  animation: beat 2s infinite alternate;
}

@keyframes beat {
	to { transform: scale(1.4); }
}

.hero__make-burger-btn:focus {
  outline: 1px solid #473AA6;
}

.hero__make-burger-btn:active {
  background-color: #473AA6;
}

.hero__make-burger-btn:hover {
  background-color: #473AA6;
}

.hero__burger-wrapper {
  position: relative;
}

.hero__burger-img,
.hero__bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__bg-img {
  position: absolute;
  top: 100px;
  z-index: -10;
}

.hero__burger-wrapper::before {
  position: absolute;
  content: '';
  background-image: url('../images/emojis/emoji-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  right: 10%;
  top: 55%;
  width: 50px;
  height: 50px;
}

/* burger constructor */

.burger-constructor {
  display: none;
}

.burger-constructor__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-constructor__title {
  font-size: 72px;
  font-weight: 700;
  max-width: 240px;
}

.burger-constructor__content {
  position: relative;
  
}

.burger-constructor__burger-container {
  position: relative;
}

.burger-constructor__warning {
  display: none;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  z-index: 7;
  right: 0;
  top: 200px;
  opacity: 1;
}

.burger-constructor__warning-img {
  margin-right: 10px;
}

.burger-constructor__warning::before,
.burger-constructor__warning::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
}

.burger-constructor__warning::before {
  border-color: transparent transparent rgba(0, 0, 0, 0.04) transparent;
  border-width: 0 10px 16px 10px;
  left: 15px;
  top: -16px;
}

.burger-constructor__warning::after {
  border-color: transparent transparent #ffffff transparent;
  border-width: 0 8px 14px 8px;
  left: 17px;
  top: -13px;
}

@keyframes showwarning {
  from { display: none; opacity: 0}
  to { display: flex; opacity: 1;}
}

@keyframes hidewarning {
  from { display: flex; opacity: 1}
  to { display: none; opacity: 0;}
}

.burger-constructor__imgs-container {
  position: relative;
  margin-top: -80px;
  
}

.burger-constructor__bg {
  position: relative;
  bottom: -120px;
  z-index: -1;
}

.burger-constructor__bottom-bun {
  display: inline-block;
  position: relative;
  bottom: 0;
  z-index: -1;
}

.burger-constructor__ketchup-btn {
  width: 172px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.burger-constructor__ketchup-added {
  opacity: 0;
  color: #FF4E50;
  font-size: 20px;
  position: absolute;
  bottom: 60px;
  right: -220px;
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    50% {
      opacity: 1;
    }
    70% {
      opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.burger-constructor__ketchup-added span{
  color: #000000;
}

.burger-constructor__summary {
  width: 405px;
}

.new-ingridient {
  object-fit: contain;
}

/* summary */

.burger-constructor__summary-name {
  font-size: 36px;
  margin-bottom: 50px;
}

.burger-constructor__price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.burger-constructor__pricing,
.burger-constructor__price {
  font-size: 36px;
  color: #5243c2;
}

.burger-constructor__checkout {
  border-radius: 99px;
  background-color: #5243c2;
  width: 192px;
  height: 52px;
  color: #ffffff;
}

.burger-constructor__offer {
  margin-bottom: 52px;
}

.burger-constructor__offer-price {
  color: #ff4d4f;
}

.summary-list {
  font-size: 20px;
  display: flex;
}

.summary-list__item {
  display: flex;
  align-items: center;
  width: 33%;
}

.summary-list__img {
  margin-right: 6px;
}

/* mobile summary */

.mobile__price-block {
  display: none;
}

.mobile-summary__block {
  display: none;
}

.mobile-summary {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 26px;
}

.mobile-summary__item {
  display: flex;
  align-items: center;
}

.mobile-summary__img {
  margin-right: 6px;
}

.mobile-summary__ketchup-added {
  margin: 24px auto 12px auto;
  text-align: center;
  padding: 24px 12px;
  color: #ff5759;
  background-color: #ffeded;
  border-radius: 25px;
  width: 300px;
  display: none;
}

.mobile-summary__ketchup-added:focus {
  outline: 1px solid #ff4d4f;
}

.mobile-summary__ketchup-added:active {
  outline: transparent;
  transform: translate(2px);
}

.mobile-summary__ketchup-added:hover {
  background-color: rgba(255, 237, 237, 0.6);
}

.mobile-summary__span {
  padding: 8px 6px;
  color: #ffeded;
  background-color: #ff5759;
  border-radius: 25px;
}

/* mobile chekout */

.mobile-checkout {
  display: none;
}

.mobile-checkout__pricing {
  text-align: center;
  font-size: 36px;
  color: #5243c2;
  margin-bottom: 12px;
}

.mobile-checkout__btn {
  display: block;
  border-radius: 99px;
  background-color: #5243c2;
  width: 192px;
  height: 52px;
  color: #ffffff;
  width: 300px;
  margin: 0 auto;
  display: none;
}

/* ingridients */

.ingridients {
  padding: 15px 0;
  overflow-x: auto;
}

.ingridients .ingridients__content-list {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.ingridients__content-list {
  display: flex;
  justify-content: space-between;
  min-width: 1305px;
}

.ingridients__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 140px;
  width: 100%;
  padding: 24px 18px;
  border: 1px solid #f0f7fa;
  border-radius: 32px;
}

.ingridients__item:not(:last-child) {
  margin-right: 24px;
}

.ingridients__name {
  padding: 5px;
}

.ingridients__img {
  object-fit: contain;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  max-width: 104px;
}

.ingridients__btn-minus {
  padding: 10px 14px;
  color: #5243C2;
}

.ingridients__btn-plus {
  padding: 10px 14px;
  color: #5243C2;
}

.ingridients__qty {
  width: 22px;
}

.ingridients__qty::placeholder {
  color: #000000;
}

/* checkout modal window */

.checkout {
  display: none;
}

.checkout__inner {
  position: fixed;
  padding: 0 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(99, 86, 200, 0.9);
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout__content {
  max-width: 608px;
  width: 100%;
  padding: 16px;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0 auto;
}

.checkout__finished {
  display: none;
  padding: 16px;
  border-radius: 35px;
  background-color: #ffffff;
  margin: 0 auto;
}

.checkout__top {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.checkout__title {
  display: flex;
  align-items: center;
}

.checkout__png {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.checkout__block {
  padding-left: 40px;
  position: relative;
  max-width: 270px;
  width: 100%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 36px;
}

.checkout__block:nth-of-type(4) {
  padding-left: 10px;
}

.checkout-label {
  font-size: 14px;
  color: #ACB3BB;
}

.checkout-input {
  padding: 5px;
  border-radius: 8px;
}

.checkout-input:focus {
  outline: 1px solid rgba(99, 86, 200);
}

.checkout-input:active {
  box-shadow: 2px 2px 2px rgba(99, 86, 200);
}

.checkout-input:hover {
  background-color: rgba(99, 86, 200, 0.2);
}

.checkout__label-name::before {
  content: url('../images/checkout/smile.png');
  position: absolute;
  left: 14px;
  top: 12px;
}

.checkout__label-phone::before {
  content: url('../images/checkout/phone.png');
  position: absolute;
  left: 14px;
  top: 12px;
}

.checkout__label-address::before {
  content: url('../images/checkout/route.png');
  position: absolute;
  left: 14px;
  top: 12px;
}

.checkout__img {
  display: block;
}

.checkout__select-time {
  width: 100%;
  border: none;
}

.checkout__btns {
  padding: 15px;
  display: flex;
  justify-content: end;
}

.checkout__cancel {
  padding: 20px;
  font-size: 20px;
  color: #5243C2;
  max-width: 150px;
  width: 100%;
  margin-right: 15px;
  border-radius: 40px;
}

.checkout__proceed {
  padding: 20px;
  color: #ffffff;
  background-color: #5243C2;
  max-width: 150px;
  width: 100%;
  border-radius: 40px;
}

/* footer */

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px;
}

.footer__links {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.footer__item:first-of-type {
  color: #949ba6;
}

.footer__item:not(:first-of-type) {
  color: #5243c2;
}

.footer__item:nth-child(2) {
  position: relative;
}

.footer__item:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: #949ba6;
  right: -4px;
  top: 2px;
}

.footer__item:not(:last-child) {
  margin-right: 8px;
}

.footer__link {
  position: relative;
}

.footer__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #5243c2;
  top: 27px;
  left: 0;
  opacity: 0;
  transition: opacity linear 0.3s;
}

.footer__link:focus::after {
  opacity: 1;
}

.footer__link:active {
  color: #949ba6;
}

.footer__link:hover::after {
  opacity: 1;
}

.footer__logo-list {
  display: flex;
  justify-content: center;
}

.footer__logo-item:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 1350px) {
  .burger-constructor__inner {
      justify-content: space-evenly;
  }

  .burger-constructor__title {
    font-size: 38px;
    max-width: 160px;
  }

  .burger-constructor__summary {
    width: 340px;
  }

  .burger-constructor__summary-name {
    font-size: 24px;
  }

  .hero__title {
    margin-left: 40px;
  }

  .hero__make-burger-btn {
    top: 40%;
    left: 30%;
  }
}

  @media (max-width: 1200px) {
    .hero__make-burger-btn {
      font-size: 20px;
      width: 140px;
      height: 140px;
    }

    .hero__bg-img {
      top: 50px;
    }

    .burger-constructor__title {
      display: none;
    }
  }
  
  @media (max-width: 992px) {
    .header__nav,
    .header__menu {
      display: none;
    }

    .header__inner {
      padding-bottom: 32px;
    }

    .hero {
      display: block;
    }

    .hero__title {
      font-size: 48;
      font-weight: normal;
      max-width: fit-content;
      margin: 0 auto;
    }

    .hero__make-burger-btn {
      width: 180px;
      height: 180px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: none;
    }

    .hero__bg-img {
      top: 30px;
    }

    .mobile-menu {
      display: flex;
    }

    .burger-constructor__inner {
      flex-direction: column;
    }

    .burger-constructor__imgs-container {
      display: inline-block;
    }

    .burger-constructor__top {
      display: none;
    }

    .burger-constructor__ketchup-added {
      display: none;
    }

    .mobile-checkout__pricing {
      flex-direction: column;
      justify-content: center;
    }

    .mobile-checkout__btn,
    .mobile-summary__ketchup-added{
      display: block;
    }

    .mobile__price-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    } 

    .burger-constructor__pricing {
      font-weight: 800;
      margin-bottom: 12px;
    }
  }
  
  @media (max-width: 768px) {

    .mobile-drop-menu__list {
      left: 0;
      right: 0;
      width: 100%;
      box-shadow: none;
      border-radius: 0;
    }

    .mobile-drop-menu__list:before,
    .mobile-drop-menu__list:after {
      display: none;
    }

    .hero__title {
      font-size: 58px;
    }

    .hero__make-burger-btn {
      width: 140px;
      height: 140px;
    }

    .hero__content::before {
      left: 8%;
    }

    .hero__content::after {
      width: 70px;
      height: 70px;
    }

    .footer__inner {
      display: block;
    }

    .footer__links {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 627px) {
    .burger-constructor__imgs-container {
      width: 320px;
      margin-bottom: 30px;
    }

    .burger-constructor__ketchup-btn {
      width: 97px;
      right: 0;
    }
  }
  
  @media (max-width: 576px) {
    .header__inner {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .mobile-drop-menu__list {
      top: 70px;
    }

    .hero__title {
      font-size: 48px;
      margin-bottom: 20px;
    }

    .hero__burger-wrapper::before {
      width: 30px;
      height: 30px;
    }

    .hero__content::before {
      width: 30px;
      height: 30px;
    }

    .hero__content::after {
      width: 50px;
      height: 50px;
    }

    .hero__make-burger-btn {
      width: 80px;
      height: 80px;
      font-size: 14px;
    }

    .burger-constructor__summary-list {
      font-size: 14px;
    }

    .summary-list__img {
      width: 20px;
      height: 20px;
    }

    .burger-constructor__summary-list {
      justify-content: space-evenly;
    }

    .summary-list__item {
      width: fit-content;
    }

    .mobile-summary__ketchup-added,
    .burger-constructor__checkout {
      width: 100%;
    }

    .footer__inner {
      padding: 25px 15px 15px 15px;
    }

    .footer__links {
      font-size: 8px;
    }

    .footer__item:nth-child(2)::after {
      width: 0;
      height: 0;
    }
  }


